<a href="https://colab.research.google.com/github/Jeswin00/Assignments/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Joining two list

In [1]:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
list1.extend(list2)
print("Joined list using concatenation:", list1)

Joined list using concatenation: [1, 2, 3, 4, 5, 6, 7, 8]

Even numbers

In [2]:
user_input = input("Enter a number: ")
try:
    user_number = int(user_input)
    if user_number % 2 == 0:
        print(f"{user_number} is an even number.")
    else:
        print(f"{user_number} is an odd number.")
except ValueError:
    print("Invalid input. Please enter a valid number.")

Enter a number: 6
6 is an even number.

Dictionary

In [3]:
student_details= {
    "Bob": [101, "CSE"],
    "Cristian": [102, "ECE"],
    "France": [105, "IT"]
}
print("Bob:",student_details["Bob"])
print("Cristian:",student_details["Cristian"])
print("France:",student_details["France"])

Bob: [101, 'CSE']
Cristian: [102, 'ECE']
France: [105, 'IT']

Function to find odd numbers

In [5]:
def find_odd_numbers():
    odd_numbers = []
    while True:
        user_input = input("Enter a number (or 'x' to quit): ")

        if user_input == 'x':
            break

        try:
            user_number = int(user_input)
            if user_number % 2 != 0:
                odd_numbers.append(user_number)
                print(f"{user_number} is an odd number.")
            else:
                print(f"{user_number} is even number.")
        except ValueError:
            print("Invalid input. Please enter a valid number.")

    return odd_numbers
odd_numbers_list = find_odd_numbers()
print("Odd numbers entered by the user:", odd_numbers_list)

Enter a number (or 'x' to quit): 6
6 is even number.
Enter a number (or 'x' to quit): 5
5 is an odd number.
Enter a number (or 'x' to quit): x
Odd numbers entered by the user: [5]

Sum the numbers in a list

In [6]:
def sum_numbers_in_list(user_input):
    try:
        numbers = [int(num) for num in user_input.split()]
        total = sum(numbers)

        return total
    except ValueError:
        return "Invalid input. Please enter a list of numbers separated by spaces."
user_input = input("Enter a list of numbers separated by spaces: ")
result = sum_numbers_in_list(user_input)
print("Sum of the numbers:", result)

Enter a list of numbers separated by spaces: 5 4 3 2 1
Sum of the numbers: 15